/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    transition: 1s linear;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(30%);
    z-index: -1;
}

img {
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    object-fit: cover;
}

.carousel {
    height: 530px;
    width: 500px;
    overflow: hidden;
}

.image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: transparent;
    font-family: inherit;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 49.5%;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.btn:focus {
    outline: none;
}